<!DOCTYPE html>
<html lang="pl"><body>
    <h1>Pulpit e-BOK</h1><p>Jesteś: Mieszkaniec zalogowany</p>
    <p style="color:red">Alert: Zbyt wysokie zużycie wody od ostatniego logowania!</p>
    <ul>
        <li><a href="/ebok/cennik">Cennik</a></li>
        <li><a href="/ebok/komunikaty">Aktualności / Komunikaty</a></li>
        <li><a href="/ebok/odczyt">Odczyt Licznika</a></li>
        <li><a href="/ebok/historia">Historia Zużycia i Rachunków</a></li>
        <li><a href="/ebok/faktury">e-Faktury i Płatności</a></li>
        <li><a href="/ebok/awarie">Zgłaszanie Awarii</a></li>
        <li><a href="/ebok/archiwum">Archiwum Awarii</a></li>
        <li><a href="/ebok/lojalnosc">Program Lojalnościowy</a></li>
    </ul>
    <a href="/wyloguj">Wyloguj</a>
</body></html>